[user]
	email = fsw0422@gmail.com
	name = Sun Phil Kwon
[core]
	editor = code --wait
	autocrlf = true
[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/usr/bin/gh auth git-credential
