[core]
	editor = vim
	autocrlf = input
[merge]
	tool = vimdiff
[color]
	status = auto
	branch = auto
	interactive = auto
	diff = auto
[alias]
	plog = log --graph --pretty=format:\"%C(auto)%h%d%Creset %C(cyan)(%ci)%Creset %C(green)%cn <%ce>%Creset %s\"
[credential]
	helper = store
