nmap gi <Action>(GotoImplementation)
nmap fu <Action>(FindUsages)
nmap ch <Action>(CallHierarchy)
nmap <c-h> <Action>(Back)
nmap <c-l> <Action>(Forward)
nmap <c-x> :e#<cr>
nmap <c-p> <Action>(SearchEverywhere)
nmap <a-f> <Action>(ReformatCode)
nmap <a-r> <Action>(Run)
nmap <a-d> <Action>(Debug)
nmap <a-s> <Action>(Stop)
nmap P <Action>(Vcs.Push)
nmap U <Action>(Git.Pull)
nmap <f12> :q!<cr>

set visualbell
set noerrorbells
set clipboard^=unnamed,unnamedplus
set hlsearch
set incsearch
